<div class="body d-flex justify-content-center align-items-center">
  <div class="shadow p-3 bg-body rounded card card-container p-4 border-0">
    <div class="p-4 mb-3">
      <div class="row">
        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <h2>Sign in</h2>
          </div>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="signIn()">
          <input
            type="email"
            name="email"
            id="email"
            [(ngModel)]="loginModel.email"
            class="form-control mb-4"
            placeholder="Email"
            required
          />
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="loginModel.password"
            class="form-control mb-4"
            placeholder="Password"
            required
          />
          <div class="row">
            <div
              class="col-md-12 d-flex align-items-center justify-content-center mb-3"
            >
              <button
                type="submit"
                class="btn btn-success w-100"
                type="submit"
                [disabled]="loginForm.invalid || isLoading"
              >
                <ng-container *ngIf="isLoading; else showButton">
                  <app-spinner></app-spinner>
                </ng-container>
                <ng-template #showButton> Sign In </ng-template>
              </button>
            </div>
            <div
              class="col-md-12 d-flex align-items-center justify-content-center"
            >
              <a [routerLink]="['/register']" class="register-link"
                >Don't have an account yet? Let's sign up!</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
