.card-container {
  min-height: 24rem;
  margin-bottom: 1.7rem;
}

.btn-visible {
  color: rgb(25, 135, 84);
}

.help-hint {
  color: rgb(255, 193, 7);
}

.btn-wallet {
  color: rgb(255, 177, 37);
  margin-right: 0.5rem;
}

.btn-add-wallet {
  margin-left: 0.5rem;
  margin-bottom: 0.4rem;
  border-radius: 60px;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add {
  font-size: 1.5rem;
  color: rgb(25, 135, 84);
  font-weight: bolder;
}
