<ng-container *ngIf="!isEdit; else showEdit">
  <form #walletListForm="ngForm">
    <ul class="list-group">
      <li
        *ngFor="let wallet of wallets"
        [ngClass]="{ selected: selectedWalletId === wallet.id }"
        class="list-group-item"
      >
        <input
          style="display: none"
          class="form-check-input me-1"
          type="radio"
          name="selectedWallet"
          [value]="wallet"
          [(ngModel)]="selectedWallet"
          [checked]="selectedWalletId === wallet.id"
        />
        <div class="row">
          <div class="col-md-6 d-flex align-items-center justify-content-start">
            <label
              class="form-check-label"
              (click)="selectWalletId(wallet)"
              [for]="wallet.name"
            >
              {{ wallet.name }}
            </label>
            <i
              *ngIf="selectedWalletId === wallet.id"
              class="bi bi-check-lg"
            ></i>
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-end">
            <button
              (click)="viewWalletForm(wallet)"
              type="button"
              class="btn btn-warning edit-btn"
            >
              <i class="bi bi-pencil-fill pencil-icon"></i>
            </button>
            <button (click)="removeWallet(wallet)" class="btn btn-danger">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="row mt-4">
      <div class="col-md-12 d-flex align-items-center justify-content-end">
        <button
          (click)="selectWallet()"
          type="submit"
          class="btn btn-success w-100"
          [disabled]="walletListForm.invalid || isLoading"
        >
          <ng-container *ngIf="isLoading; else showButton">
            <app-spinner></app-spinner>
          </ng-container>
          <ng-template #showButton> Save </ng-template>
        </button>
      </div>
    </div>
  </form>
</ng-container>
<ng-template #showEdit>
  <div class="p-4 mb-3">
    <div class="row">
      <form #walletForm="ngForm">
        <input
          type="text"
          name="name"
          id="name"
          class="form-control mb-4"
          placeholder="Wallet Name"
          [(ngModel)]="wallet.name"
          required
        />

        <select
          name="currency"
          id="currency"
          class="form-select mb-4"
          [(ngModel)]="wallet.currency"
          required
        >
          <option value="" disabled selected>Select Currency</option>
          <option value="PHP">PHP</option>
          <option value="USD">USD</option>
        </select>

        <label>Initial Balance</label>
        <input
          type="number"
          name="balance"
          id="balance"
          class="form-control mb-4"
          [(ngModel)]="wallet.balance"
          required
        />

        <div class="row">
          <div class="col-md-12 d-flex align-items-center justify-content-end">
            <button (click)="cancelEdit()" class="btn btn-danger cancel-btn">Cancel</button>
            <button
              (click)="upsertWallet()"
              type="submit"
              class="btn btn-success"
              [disabled]="walletForm.invalid || isLoading"
            >
              <ng-container *ngIf="isLoading; else showButton">
                <app-spinner></app-spinner>
              </ng-container>
              <ng-template #showButton>Save</ng-template>
            </button>
            <!-- <button type="submit" class="btn btn-success">Save</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
