.selected-icon {
  display: inline-block;
}

.list-group-item:hover {
  cursor: pointer;
}

.form-check-label:hover {
  cursor: pointer;
}

.list-group-item.selected {
  font-weight: bold;
  color: rgb(25, 135, 84);
  cursor: pointer;
  background-color: rgb(229, 247, 229);
}

.edit-btn {
  margin-right: 0.5rem;
}

.pencil-icon {
  color: white;
}

.cancel-btn {
  margin-right: 0.5rem;
}
