.card-container {
  min-height: 24rem;
  margin-bottom: 1.7rem;
}

.btn-visible {
  color: rgb(25, 135, 84);
}

.help-hint {
  color: rgb(255, 193, 7);
}

.btn-wallet {
  color: rgb(255, 177, 37);
  margin-right: 0.5rem;
}
