<div class="shadow p-3 mb-5 bg-body rounded card card-container p-4 border-0">
  <div class="row mb-3">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <h3>Transactions</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-end">
          <h1>{{ currentDate }}</h1>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-start">
              <label>{{ currentDay }}</label>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-start">
              <label>{{ currentMonth }} {{ currentYear }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="transactions.length > 0; else noTransactions">
    <ng-container *ngIf="!isEdit; else editTransaction">
      <div *ngFor="let transaction of transactions">
        <div
          (click)="openTransactionDetails(transaction)"
          type="button"
          class="card list p-4 mb-3"
        >
          <div *ngIf="getCategoryById(transaction.categoryId)" class="row">
            <div class="col-2 d-flex justify-content-center align-items-center">
              <svg height="100" width="100">
                <circle cx="35" cy="35" r="25" stroke-width="3" fill="grey" />
              </svg>
            </div>
            <div class="col-6 p2 align-self-center">
              <small class="fw-semibold">{{
                formatTransactionDate(transaction.dateTime)
              }}</small>
              <h5 class="fw-bold">
                {{ getCategoryById(transaction.categoryId).name }}
              </h5>
              <h6 class="fw-normal">{{ transaction.notes }}</h6>
            </div>
            <div
              *ngIf="getCategoryById(transaction.categoryId).type == 'expense'"
              class="col-4 d-flex justify-content-end align-items-center"
            >
              <h5 class="text-danger">
                -{{ transaction.amount | number : "1.2-2" }}
              </h5>
            </div>
            <div
              *ngIf="getCategoryById(transaction.categoryId).type == 'income'"
              class="col-4 d-flex justify-content-end align-items-center"
            >
              <h5 class="text-success">
                +{{ transaction.amount | number : "1.2-2" }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #editTransaction>
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between">
          <button
            (click)="back()"
            type="button"
            class="btn btn-warning edit-btn"
          >
            <i class="bi bi-chevron-left btn-back"></i>
          </button>
          <button
            (click)="removeTransaction(transactionDetails)"
            class="btn btn-danger"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <transaction-form
            [transaction]="transactionDetails"
            [isEdit]="isEdit"
            [prevTransactionAmount]="prevTransactionAmount"
            (editStateEvent)="isEditState($event)"
          ></transaction-form>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #noTransactions>
    <div class="row noTransactions">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <h5 class="text-danger">No transaction :(</h5>
      </div>
    </div>
  </ng-template>
</div>
