<div class="shadow p-3 mb-5 bg-body rounded card card-container p-4 mb-3 border-0">
    <div class="row  mb-3">
        <!-- <div class="col-6 align-self-center">
            <h3>Cash Flow Statement</h3>
        </div> -->
    </div>
    <div class="card p-4 mb-3">
        <nav>
            <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
                <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
                    role="tab" aria-controls="nav-home" aria-selected="true">
                    <label class="tab-label">
                        LAST MONTH
                    </label>
                </button>
                <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <label class="tab-label">
                        THIS MONTH
                    </label>
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                    <label class="tab-label">
                        FUTURE
                    </label>
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade text-center" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-danger">No transaction :(</h5>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 mb-3 d-flex align-items-center justify-content-between">
                                <h5>Inflow</h5>
                                <h5 class="text-primary">+₱ 500.00</h5>
                            </div>
                            <div class="col-12 d-flex align-items-center justify-content-between">
                                <h5>Outflow</h5>
                                <h5 class="text-danger">-₱ 13.00</h5>
                            </div>
                            <div class="col-12">
                                <hr />
                            </div>
                            <div class="col-12 d-flex align-items-center justify-content-end">
                                <h5 class="text-success">+₱ 487.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade text-center" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                tabindex="0">
                <div class="row">
                    <div class="col-12">
                        <h5 class="text-danger">No transaction :(</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>