.toaster {
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: -100%;
  z-index: 1;
  font-size: 14px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 300px;
  height: 50px;
  animation: moveToast 0.5s ease-in-out forwards, fadeOut 2.5s ease-in-out;
}

.toaster p {
  margin: 0;
  color: lightseagreen;
  font-weight: bold;
}

.success {
  border-left: 10px solid lightgreen;
}

.error {
  border-left: 4px solid lightcoral;
}

.warning {
  border-left: 4px solid #ffa500;
}

@keyframes moveToast {
  0% {
    right: -100%;
  }
  100% {
    right: 20px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
